{% extends 'base.html.twig' %}

{% block header %}
	{% include "_parts/_header.html.twig" %}
{% endblock %}

{% block title %}Kigo - Édition du profil
{% endblock %}

{% block body %}
	<section class="container mx-auto p-8 flex items-center justify-center ">
		{{ form_start(form, {'attr': {'class': 'flex flex-col items-center space-y-6 w-full max-w-3xl'}}) }}
		<div class="text-start text mb-8 w-full h-20">
			<div class="mb-6">
				{{ form_label(form.email, 'Email', {'label_attr': {'class': 'text-5xl font-bold text-pink-600'}}) }}
				{{ form_widget(form.email, {'attr': {'class': 'bg-yellow-100 border border-pink-400 rounded-lg w-full h-20 px-6 py-4 text-3xl placeholder:text-pink-300 shadow-lg focus:outline-none focus:ring-2 focus:ring-pink-500', 'placeholder': 'Nouvel e-mail'}}) }}
				{{ form_errors(form.email) }}
			</div>
			<div class="mb-6">
				{{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'text-5xl font-bold text-blue-600'}}) }}
				{{ form_widget(form.firstname, {'attr': {'class': 'bg-blue-100 border border-blue-400 rounded-lg w-full h-20 px-6 py-4 text-3xl placeholder:text-blue-300 shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500', 'placeholder': 'Nouveau prénom'}}) }}
				{{ form_errors(form.firstname) }}
			</div>
			<div class="mb-6">
				{{ form_label(form.lastname, 'Nom', {'label_attr': {'class': 'text-5xl font-bold text-purple-600'}}) }}
				{{ form_widget(form.lastname, {'attr': {'class': 'bg-purple-100 border border-purple-400 rounded-lg w-full h-20 px-6 py-4 text-3xl placeholder:text-purple-300 shadow-lg focus:outline-none focus:ring-2 focus:ring-purple-500', 'placeholder': 'Nouveau nom'}}) }}
				{{ form_errors(form.lastname) }}
			</div>
			<div class="mb-6">
				{{ form_label(form.phone, 'Numéro de téléphone', {'label_attr': {'class': 'text-5xl font-bold text-green-600'}}) }}
				{{ form_widget(form.phone, {'attr': {'class': 'bg-green-100 border border-green-400 rounded-lg w-full h-20 px-6 py-4 text-3xl placeholder:text-green-300 shadow-lg focus:outline-none focus:ring-2 focus:ring-green-500', 'placeholder': 'Nouveau numéro de téléphone'}}) }}
				{{ form_errors(form.phone) }}
			</div>
			<div class="mb-6">
				{{ form_label(form.section, 'Section', {'label_attr': {'class': 'text-5xl font-bold text-yellow-600'}}) }}
				{{ form_widget(form.section, {'attr': {'class': 'bg-yellow-100 border border-yellow-400 rounded-lg w-full h-20 px-6 py-4 text-3xl placeholder:text-yellow-300 shadow-lg focus:outline-none focus:ring-2 focus:ring-yellow-500', 'placeholder': 'Nouvelle section'}}) }}
				{{ form_errors(form.section) }}
			</div>
			<div class="mb-6">
				{{ form_label(form.biography, 'Bio', {'label_attr': {'class': 'text-5xl font-bold text-orange-600'}}) }}
				{{ form_widget(form.biography, {'attr': {'class': 'bg-orange-100 border border-orange-400 rounded-lg w-full h-50 px-6 py-4 text-3xl placeholder:text-orange-300 shadow-lg focus:outline-none focus:ring-2 focus:ring-orange-500', 'placeholder': 'Ajouter une bio'}}) }}
				{{ form_errors(form.biography) }}
			</div>
			<div class="flex justify-center w-full">
				<button class="bg-btn_submit hover:bg-btn_submit_hover text-white font-bold py-3 px-6 rounded-full text-5xl shadow-md transition duration-200 ease-in-out transform hover:scale-105" type="submit">Modifier</button>
			</div>
		</div>
		{{ form_end(form) }}
	</section>
	{% include "_parts/_navbar.html.twig" %}
{% endblock %}
