{# favorites.html.twig #}
{% extends 'base.html.twig' %}

{% block header %}
	{% include "_parts/_header.html.twig" %}
{% endblock %}

{% block title %}Mes favoris
{% endblock %}

{% block body %}
	<div class="container mx-auto my-20">
		<h1 class="text-8xl justify-center flex pb-10">Mes favoris</h1>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
			{% for item in likes %}
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700">
					{% if item.imagePath %}
						<a href="{{ path('detail', {'id': item.id}) }}">
							<img class="rounded-t-lg w-full h-64 object-cover" src="/images/upload/{{ item.imagePath }}" alt="Image de présentation"/>
						</a>
					{% else %}
						<h4 class="text-4xl font-bold">🚫 Pas d'image</h4>
					{% endif %}
					<div class="p-5">
						<a href="{{ path('detail', {'id': item.id}) }}">
							<h5 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white">{{ item.title }}</h5>
						</a>
						<p class="mb-3 font-normal text-2xl text-gray-700 dark:text-gray-400">
							<span class="font-bold">Type de projet:</span>
							{{ item.typeId.label }}
						</p>
						{% include "_parts/_like.html.twig" with {'item': item} %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% include "_parts/_navbar.html.twig" %}
{% endblock %}
