<div class="fixed bottom-0 w-screen bg-white shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.1),0_-2px_4px_-2px_rgba(0,0,0,0.06)] flex justify-around items-center px-4 py-9 drawer-open:hidden">
	<a href={{path('app_home')}} class="flex flex-col items-center text-gray-500 hover:text-gray-700">
		<svg class="w-14 h-14" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 24 24">
			<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
		</svg>
	</a>

	<div class="text-center">
		<button type="button" data-drawer-target="drawer-bottom-example" data-drawer-show="drawer-bottom-example" data-drawer-placement="bottom" aria-controls="drawer-bottom-example" class="text-gray-500 hover:text-gray-700">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-24 h-24">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
			</svg>
		</button>
	</div>

	<a href="{{path('app_profile')}}" class="flex flex-col items-center text-gray-500 hover:text-gray-700">
		<svg class="w-14 h-14" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 24 24">
			<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
		</svg>
	</a>
</div>

<div id="drawer-bottom-example" class="fixed bottom-0 left-0 right-0 z-40 w-full bg-white dark:bg-gray-800 transform translate-y-full transition-transform duration-300 ease-in-out">
	<div class="flex items-center justify-center h-full">
		<div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-4xl">
			<h2 class="text-6xl font-bold mb-6 text-gray-700">Nouveau projet</h2>
			{{ form_start(form) }}
			<div class="mb-6 grid grid-cols-2 gap-6">
				<div>
					<h3 class="text-4xl font-bold mb-2 text-gray-700">Titre<span class="text-red-600">*</span></h3>
					{{ form_widget(form.titre, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
					{{ form_errors(form.titre) }}
				</div>
				<div class="mb-6">
					<h3 class="text-4xl font-bold mb-2 text-gray-700">Description<span class="text-red-600">*</span></h3>
					{{ form_widget(form.description, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
					{{ form_errors(form.description) }}
				</div>
				<div>
					<h3 class="text-4xl font-bold mb-2 text-gray-700">Nous avons besoin de...<span class="text-red-600">*</span></h3>
					{{ form_widget(form.type, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
					{{ form_errors(form.type) }}
				</div>
			</div>

			<div class="mb-6 grid grid-cols-2 gap-6">
				<div>
					<h3 class="text-4xl font-bold mb-2 text-gray-700">Image</h3>
					{{ form_widget(form.imageFile, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
					{{ form_errors(form.imageFile) }}
				</div>
			</div>
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{ button_label|default('Enregistrer') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
</div>
